/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps de la page */
html, body {
    height: 100%; /* use all the page height */
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column; /* Organiser les éléments en colonne */
}

/* Header */
header {
    background-color: #0073e6;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin-left: 20px;
    font-size: 24px;
}

header .contact-info {
    margin-right: 20px;
}

header .contact-info span {
    margin-left: 10px;
}

/* Navbar */
nav {
    background-color: #005bb5;
}

nav ul {
    list-style-type: none;
    padding: 10px 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffdd57;
}

/* Main Content */
.main-content {
    padding: 30px;
    text-align: center;
    flex: 1;
}

/* Featured sections */
.featured-sections {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.featured-sections section {
    background-color: white;
    padding: 20px;
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.featured-sections section h3 {
    color: #0073e6;
    font-size: 22px;
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .social-media {
    margin-top: 10px;
}

footer .social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

footer .social-media a:hover {
    color: #ffdd57;
}